@{
    ViewData["Title"] = "Home Page";
}
<div
    style="background-image: url(https://imgs-akamai.mnstatic.com/cd/60/cd60bbee25dbdf46535351970f0cbead.jpg?quality=75&format=pjpg&fit=bounds&width=980&height=880);
    height:500px; width: 1100px;
    background-repeat: no-repeat;
    background-size: 1100px 500px;
    align-content: center"
    class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
